<ng-container *ngIf="app$ | async as app">

  <header class="header">

    <ng-container *ngIf="app.user; else defaultLabel">
      <div class="header__user">
        {{ app.user.firstName }} {{ app.user.lastName }}
      </div>
      <button class="button" (click)="onLogout()">
        <span>Logout</span>
      </button>
    </ng-container>

    <ng-template #defaultLabel>
      <div class="header__user">
        Task management
      </div>
    </ng-template>

  </header>

  <router-outlet></router-outlet>

  <app-loading *ngIf="app.loading"></app-loading>

  <app-notification *ngIf="app.errors.length" [errors]="app.errors"></app-notification>

</ng-container>
